*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#time{
    border-radius: 20px;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blue(5px);
    background-color: hsla(0, 0%, 100%, 0.2);
    width: 100%;
}
